# Ignore build executable
src/yaflc
src/yafl

# Compilation artifacts
src/build/*
**/*.dot
**/*.svg
**/*.yaflb
**/*.o
**/*.a

# Ignore Latex Junk
doc/build/*
!doc/build/report.pdf

# Ignore VsCode
.vscode
