# Ignore build executable
src/yaflc
src/yafl

# Compilation artifacts
src/build/*
**/*.dot
**/*.svg
**/*.yaflb
**/*.o
**/*.a
vm

# Allow SVG and YAFLB in demo/
!demo/**/*.svg
!demo/**/*.yaflb

# Ignore Latex Junk
doc/build/*
!doc/build/report.pdf

# Ignore VsCode
.vscode
